<footer class="fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 footerleft ">
        <div class="logofooter">KURA<p>(Kathmandu University Requests & Answers)</p></div>
        <p>The academic forum that aims to promote knowledge sharing within KU to bring academicians together for more effective learning. </p>
        <p><i class="fa fa-map-pin"></i> Kathmandu University, Dhulikhel, Nepal</p>
        <p><i class="fa fa-phone"></i> Phone (Nepal) : +977 9867191660</p>
        <p><i class="fa fa-envelope"></i> E-mail : admin@kura.com</p>  
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="/about"> About Us</a></li>
          <li><a href="#"> Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.GitHub.com/adityathebe/kuraNode" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <a href="https://www.GitHub.com/adityathebe/kura" target = "_blank"><img src="/image/github.jpg" class="img-thumbnail" alt="GitHub Logo" width="304" height="236"></a>
        </div>
      </div>
    </div>
    <div class = "row" style="text-align: center;">
        <p style="color:white">© 2017 - All Rights Reserved</p>
    </div>
  </div>
</footer>