.row
    .col-sm-1
        .vote-count
            <button class="btn btn-default btn1" type="button" ><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button> <br>
            <p class="voteNum">6</p>
            <button class="btn btn-default btn2" type="button" ><span class="glyphicon glyphicon-arrow-down" aria-hidden="ture"></span></button>
    .col-sm-11
        .answer
            The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the sameThe answer goes in here. I need to desing the layout of the same in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the same The answer goes in here. I need to desing the layout of the sameThe answer goes in here. I need to desing the layout of the same</div>
            .timestamp Answered #time ago by #user