extends layout

block content
    h1 Edit 
    form(method='POST', action='/questions/edit/' + question._id)
        #form-group
            label Title:
            input.form-control(name='title', type='text', value=question.title)
        #form-group
            label Subject:
                select.form-control#sel2(name='category')
                    each category in categories
                        option= category.name
        br
        #form-group
            label Body:
            textarea#ck_editor.form-control(name='body', rows='10', placeholder='Elaborate ... ')=question.body
        br
        input.btn.btn-primary(type='submit', value='Submit')