doctype html
html
    head
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        title KURA

        //-Bootstrap
        link(rel='stylesheet', href='/css/bootstrap.min.css')

        //-Custom CSS
        link(rel='stylesheet', href='/css/customstyle.css')
        link(rel='stylesheet', href='/css/footer.css')
        link(rel='stylesheet', href='/css/answer.css')
        link(rel='stylesheet', href='/css/sidebar.css')
        link(rel='stylesheet', href='/css/about.css')
        link(rel='stylesheet', href='/css/searchbar.css')
        link(rel='stylesheet', href='/css/tags.css')
        link(rel='stylesheet', href='/css/404.css')
        link(rel='stylesheet', href='/css/contact.css')

        //-Fonts
        link(href="https://fonts.googleapis.com/css?family=Pacifico", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Satisfy', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Quicksand", rel='stylesheet')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    body
        include includes/_navbar.pug
        div(style="margin-top:60px")
        .container
            //- Other templates will be inserted here
            != messages('message', locals)
            if errors
                each error in errors
                    .alert.alert-danger #{error.msg}
            block content

        //- External Scripts
        script(src="/jquery/jquery.js")
        script(src="/js/bootstrap.js")

        //- Ck Editor
        script(src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js")
        script(src="/js/ck_editor.js")

        include includes/_footer.pug