extends layout

block content
    .col-md-4
        h1 Sign In
        form(method='POST', action='/user/login')
            #form-group
                label UserName:
                input.form-control(name='userName', type='text')
            br
            #form-group
                label Password:
                input.form-control(name='password', type='password')
            br
            input.btn.btn-primary(type='submit', value='Sign In')
            br
            br
            p Don't have an account yet? 
            a(href="/user/register") Sign Up.