extends layout

block content
    h1 Edit Profile
    hr
    .row
        .col-sm-2.col-md-2
            .sidebar-nav
                h2 Menu
                ul(class="nav nav-tabs nav-stacked")
                    <li><a href='/user/edit'><h4>Profile</h4></a></li>
                    <li><a href='/user/account'><h4>Account</h4></a></li>
                    <li><a href='#'><h4>Others</h4></a></li>
        .col-sm-7.col-md-7
            block content_middle

        .col-sm-3.col-md-3
            br
            if user.imgsrc
                img.img-thumbnail(width="100%", src=user.imgsrc)
            else
                <img src="https://techreport.com/forums/styles/canvas/theme/images/no_avatar.jpg" class="img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="form-control">