.answerfield {
    font-style: normal;
    overflow: auto;
    border: 2px solid #ebebeb;
    background-color: #F6F7F2;
    padding: 30px;
}


.row1 {
     background-color: #f5f5f5;
        border-color: #e3e3e3;
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
    }

@media only screen and (max-width: 1200px) {
    .row1 {
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
}


.answer {
    font-style: normal;
    overflow: auto;
    padding: 5px;
}

.timestamp {
    font-size: 15px;
    text-align: right;
    font-family: Raleway;
    font-weight: bold;
}

.vote-count{
    text-align: center; !important;
    font-size: 20px;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 0px;
    border: 0px;
}


.arrowup {
    margin-right: auto;
    margin-left: auto;
    background-color: #f5f5f5;
    border: 0px;
}

.arrowdown {
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
    border: 0px;
}


.voteNum {
    margin: 0px;
    text-align: center; !important;
}




.ans {
    padding: 0px;
}