.answerfield {
    font-style: normal;
    overflow: auto;
    background-color: #ebebeb;
    padding: 30px;
}

.timestamp {
    font-size: 15px;
    text-align: right;
}

.vote-count{
    text-align: right !important;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.answerhr {
    margin:0px;
}

.btn1 {
    padding: 0px;
}

.btn2 {
    padding-right: 6px;
}

.voteNum {
    margin: 0px;
    padding-right: 6px;
}
