.answerfield {
    font-style: normal;
    overflow: auto;
    border: 2px solid #ebebeb;
    background-color: #F6F7F2;
    padding: 30px;
}

.timestamp {
    font-size: 15px;
    text-align: right;
    font-family: Raleway;
    font-weight: bold;
}

.vote-count{
    text-align: right !important;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.answerhr {
    margin:0px;
}

.voteNum {
    margin-right:5px;
    font-size: 20px;
}
