.catgbtns {
	background-color: #ffffff;
    border: 1px solid #337ab7;
    color: #337ab7;
    font-weight: bold;
    border-radius: 10px;
    width: 75px;
    font-size: 10px;
    padding: 2px;
    display: inline-block;
    text-align: center;
}

a:hover {
    text-decoration: none;
}